<!-- app/views/orders/index.html.erb -->
<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-6">Órdenes</h1>

  <% if notice %>
    <div class="bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3" role="alert">
      <p class="font-bold">Success</p>
      <p class="text-sm"><%= notice %></p>
    </div>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    <% @orders.each do |order| %>
      <div class="block bg-white rounded-lg shadow-md p-6 mb-6 transition-transform transform hover:scale-105 flex flex-col justify-between">
        <div>
          <h2 class="text-xl font-semibold mb-2">Orden #<%= order.id %></h2>
          <p class="text-gray-500 mb-4">Total: <%= number_to_currency(order.total) %></p>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mb-4">
            <% order.products.each do |product| %>
              <div class="flex justify-between">
                <span><%= product.name %></span>
                <span><%= number_to_currency(product.price) %></span>
              </div>
            <% end %>
          </div>
        </div>
        <div class="mt-auto flex justify-start space-x-2">
          <%= link_to 'Ver Orden', order_path(order), class: 'block buttons-bg buttons-bg-standar text-white px-4 py-2 rounded mb-2 text-center' %>
          <%= button_to 'Borrar Orden', order_path(order), method: :delete, class: 'block buttons-bg buttons-bg-red text-white px-4 py-2 ml-2 rounded text-center' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
